# Using SQL and Python

In [1]:
#Importing Libraries
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [2]:
#Connecting to MySQL Server
def create_server_connection(host_name, user_name, user_password):
    connection = None 
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            passwd = user_password
        ) #connection parameters
        print('MySQL Database connection successful')
    except Error as err:
        print(f"Error: '{err}'") #error message syntax for when connection unsuccessful
    return connection
pw = 'Devloper29@#' #SQL root password
db = 'python_db' #database name

connection = create_server_connection('localhost', 'root', pw) #connection syntax

MySQL Database connection successful

In [3]:
#Creating Database
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print('Database created successfully')
    except Error as err:
        print(f"Error: '{err}'")

create_database_query = 'CREATE DATABASE python_db'
create_database(connection, create_database_query)

Database created successfully

In [4]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            passwd = user_password,
            database = db_name
        )
        print('MySQL Database connection successful')
    except Error as err:
        print(f"Error: '{err}'")
        
    return connection

In [5]:
#Define Query Execution Function
#This will help us to execute queries written in SQL
#We use cursor.execute()

def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print('Query successful')
    except Error as err:
        print(f"Error: '{err}'")

# Creating Hospital Table

In [6]:
create_hospital_table = '''
CREATE TABLE Hospital(
Hospital_Id INT UNSIGNED NOT NULL,
Hospital_Name TEXT NOT NULL,
Bed_Count INT,
PRIMARY KEY (Hospital_Id)
);
'''
create_doctor_table = '''
CREATE TABLE Doctor(
Doctor_Id INT UNSIGNED NOT NULL,
Doctor_Name TEXT NOT NULL,
Hospital_Id INT NOT NULL,
Joining_Date DATE NOT NULL,
Speciality TEXT NULL,
Salary INT NULL,
Experience INT NULL,
PRIMARY KEY (Doctor_Id)
);
'''

connection = create_db_connection('localhost','root', pw, db)
execute_query(connection, create_hospital_table)
execute_query(connection, create_doctor_table)

MySQL Database connection successful
Query successful
Query successful

In [7]:
#Adding data to Tables
pop_hospital_table = '''
INSERT INTO Hospital (Hospital_Id, Hospital_Name, Bed_Count)
VALUES
('1', 'Mayo Clinic', 200),
('2', 'Cleveland Clinic', 400),
('3', 'John Hopkins', 1000),
('4', 'UCLA Medical Center', 1500);
'''
pop_doctor_table = '''
INSERT INTO Doctor (Doctor_Id, Doctor_Name, Hospital_Id, Joining_Date, Speciality, Salary, Experience)
VALUES
('101', 'David', '1', '2005-02-10', 'Pediatric', '40000', NULL),
('102', 'Michael', '1', '2018-07-23', 'Oncologist', '20000', NULL),
('103', 'Susan', '2', '2016-05-19', 'Gynecologist', '25000', NULL),
('104', 'Robert', '2', '2017-12-28', 'Pediatric', '28000', NULL),
('105', 'Linda', '3', '2004-06-04', 'Gynecologist', '42000', NULL),
('106', 'William', '3', '2012-09-11', 'Dermatologist', '30000', NULL),
('107', 'Richard', '4', '2014-08-21', 'Gynecologist', '32000', NULL),
('108', 'Karen', '4', '2011-10-17', 'Radiologist', '30000', NULL);
'''

connection = create_db_connection('localhost', 'root', pw, db)
execute_query(connection, pop_hospital_table)
execute_query(connection, pop_doctor_table)

MySQL Database connection successful
Query successful
Query successful

# EXERCISES

#1. Fetching Database Version

In [8]:
connection = create_db_connection('localhost', 'root', pw, db)
cursor = connection.cursor()
cursor.execute('SELECT VERSION()')
data = cursor.fetchone()
print ("Database version : %s " %data )

MySQL Database connection successful
Database version : 5.7.34-log

#2. Fetching Hospital and Doctor Information using Hospital Id and Doctor Id

In [9]:
def get_hospital_detail(hospital_id):
    try:
        connection = create_db_connection('localhost', 'root', pw, db)
        cursor = connection.cursor()
        sql_select_query = '''
        SELECT * FROM Hospital WHERE Hospital_Id = %s
        '''
        cursor.execute(sql_select_query, (hospital_id,))
        records = cursor.fetchall()
        print('\nPrinting Hospital record', '\n')
        
        for row in records:
            print('Hospital_Id: ', row[0], )
            print('Hospital_Name: ', row[1])
            print('Bed_Count: ', row[2])
    
    except Error as err:
        print(f"Error: '{err}'")

get_hospital_detail(2)

def get_doctor_detail(doctor_id):
    try:
        cursor = connection.cursor()
        sql_select_query = '''
        SELECT * FROM Doctor WHERE Doctor_Id = %s
        '''
        cursor.execute(sql_select_query, (doctor_id,))
        records = cursor.fetchall()
        print('\nPrinting Doctor record', '\n')
        
        for row in records:
            print('Doctor_Id: ', row[0], )
            print('Doctor_Name: ', row[1])
            print('Hospital_Id: ', row[2])
            print('Joining_Date: ', row[3])
            print('Speciality: ', row[4])
            print('Salary: ', row[5])
            print('Experience: ', row[6])
    
    except Error as err:
        print(f"Error: '{err}'")
        
get_doctor_detail(105)

MySQL Database connection successful

Printing Hospital record

Hospital_Id:  2
Hospital_Name:  Cleveland Clinic
Bed_Count:  400

Printing Doctor record

Doctor_Id:  105
Doctor_Name:  Linda
Hospital_Id:  3
Joining_Date:  2004-06-04
Speciality:  Gynecologist
Salary:  42000
Experience:  None

#3. Get List of doctors as per given speciality and salary

In [10]:
def get_specialist_doctors_list(speciality, salary):
    try:
        connection = create_db_connection('localhost', 'root', pw, db)
        cursor = connection.cursor()
        sql_select_query = '''
        SELECT * FROM Doctor WHERE Speciality = %s AND Salary > %s
        '''
        cursor.execute(sql_select_query, (speciality, salary))
        records = cursor.fetchall()
        print('\nPrinting Doctors whose speciality is Gynecologist and salary greater than 30000', '\n')
        
        for row in records:
            print('Doctor_Id: ', row[0], )
            print('Doctor_Name: ', row[1])
            print('Hospital_Id: ', row[2])
            print('Joining_Date: ', row[3])
            print('Speciality: ', row[4])
            print('Salary: ', row[5])
            print('Experience: ', row[6], '\n')
    
    except Error as err:
        print(f"Error: '{err}'")
        
get_specialist_doctors_list('Gynecologist', 30000)

MySQL Database connection successful

Printing Doctors whose speciality is Gynecologist and salary greater than 30000

Doctor_Id:  105
Doctor_Name:  Linda
Hospital_Id:  3
Joining_Date:  2004-06-04
Speciality:  Gynecologist
Salary:  42000
Experience:  None

Doctor_Id:  107
Doctor_Name:  Richard
Hospital_Id:  4
Joining_Date:  2014-08-21
Speciality:  Gynecologist
Salary:  32000
Experience:  None

#4. Get List of doctors from a given hospital

In [69]:
#DON'T TOUCH THIS!!! THERE'S SOMETHING DEFINITELY WRONG IM YET TO FIGURE OUT WHAT???

def get_doctors(hospital_id):
    connection = create_db_connection('localhost', 'root', pw, db)
    cursor = connection.cursor()
    sql_select_query = '''SELECT Hospital_Name FROM Hospital WHERE Hospital_Id = %s'''
    cursor.execute(sql_select_query, (hospital_id,))
    results = cursor.fetchone()
get_doctors(2)

def get_doctors(hospital_id):
    try:
        cursor = connection.cursor()
        sql_select_query = '''SELECT * FROM Doctor WHERE Hospital_Id = %s; 
        '''
        cursor.execute(sql_select_query, (hospital_id,))
        results = cursor.fetchall()
        print('\nPrinting Doctors whose hospital_Id is 2', '\n')
        
        for row in results:
            print('Doctor_Id: ', row[0], )
            print('Doctor_Name: ', row[1])
            print('Hospital_Id: ', row[2])
            print('Joining_Date: ', row[3])
            print('Speciality: ', row[4])
            print('Salary: ', row[5])
            print('Experience: ', row[6], '\n')
    
    except Error as err:
        print(f"Error: '{err}'")
        
get_doctors(2)

#DON'T TOUCH THIS!!! THERE'S SOMETHING DEFINITELY WRONG IM YET TO FIGURE OUT WHAT???

MySQL Database connection successful

Printing Doctors whose hospital_Id is 2

Doctor_Id:  103
Doctor_Name:  Susan
Hospital_Id:  2
Joining_Date:  2016-05-19
Speciality:  Gynecologist
Salary:  25000
Experience:  None

Doctor_Id:  104
Doctor_Name:  Robert
Hospital_Id:  2
Joining_Date:  2017-12-28
Speciality:  Pediatric
Salary:  28000
Experience:  None

#5. Updating Doctor Experience in Years

In [22]:
def update_doctor_experience(doctor_id):
    try:
        connection = create_db_connection('localhost', 'root', pw, db)
        cursor = connection.cursor()
        query = '''SELECT * FROM Doctor WHERE Doctor_Id = %s'''
        cursor.execute(query, (doctor_id,))
        records = cursor.fetchall()
        print('\nPrinting Doctor record', '\n')
        
        for row in records:
            print('Doctor_Id: ', row[0], )
            print('Doctor_Name: ', row[1])
            print('Hospital_Id: ', row[2])
            print('Joining_Date: ', row[3])
            print('Speciality: ', row[4])
            print('Salary: ', row[5])
            print('Experience: ', row[6], '\n')
    
    except Error as err:
        print(f"Error: '{err}'")
        
update_doctor_experience(101)

def update_doctor_experience(doctor_id):
    try:
        cursor = connection.cursor()
        update = '''UPDATE Doctor SET Experience = (TIMESTAMPDIFF(YEAR, Joining_Date, CURDATE())) 
        WHERE Doctor_Id = %s
        '''
        sql_select_query = '''SELECT * FROM Doctor WHERE Doctor_Id = %s'''
        cursor.execute(sql_select_query, (doctor_id,))
        records = cursor.fetchall()
        print('\nPrinting Doctor record', '\n')
        
        for row in records:
            print('Doctor_Id: ', row[0], )
            print('Doctor_Name: ', row[1])
            print('Hospital_Id: ', row[2])
            print('Joining_Date: ', row[3])
            print('Speciality: ', row[4])
            print('Salary: ', row[5])
            print('Experience: ', row[6])
    except Error as err:
        print(f"Error: '{err}'")

update_doctor_experience(101)

MySQL Database connection successful

Printing Doctor record

Doctor_Id:  101
Doctor_Name:  David
Hospital_Id:  1
Joining_Date:  2005-02-10
Speciality:  Pediatric
Salary:  40000
Experience:  None


Printing Doctor record

Doctor_Id:  101
Doctor_Name:  David
Hospital_Id:  1
Joining_Date:  2005-02-10
Speciality:  Pediatric
Salary:  40000
Experience:  16